<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-user" aria-hidden="true"></i>AnnouncementList
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
      Welcome back, <strong>12th Dec 2018 12:45</strong> 
      
    </div> -->
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href=""><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="">Announcement</a></li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">
      <a routerLink="/announcement" class="next_btn pull-right">Add Announcement</a>
      <div id="buttons" class="pull-right" title=""></div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">
  <div class="col-md-12">
    <table id="list_tables" class="table table-hover" style="width:100%">
      <thead>
        <tr>
          <th class="text-center sr_no_width">#</th>
          <th>Announcement Title</th>
          <th class="date_width">Start Date</th>
          <th class="date_width">End Date</th>
          <th>Description</th>
          <th>Location</th>
          <th>Organizer</th>
          <th>Announcement Audience</th>
          <th class="text-center active_width">Active?</th>
          <th class="text-center action_width">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let announcement of announcementlist; let i = index">
          <td>{{i+1}}</td>
          <td>{{announcement.Title}}</td>
          <td>{{announcement.StartDate}}</td>
          <td>{{announcement.EndDate}}</td>
          <td>{{announcement.Description}}</td>
          <td>{{announcement.Location}}</td>
          <td>{{announcement.Organizer}}</td>
          <td>{{announcement.Names}}</td>
          <td class="text-center">
            <!-- <div class="activeyes_box">
                      <input type="checkbox" name="active1" id="active1" checked value="Yes">
                      <label for="active1"></label>
                    </div> -->
            <div class="activeyes_box" data-toggle="tooltip" data-placement="top" [attr.title]="announcement.IsActive==1 ? 'Active' : 'Deactive'">
              <input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(announcement,i)" [checked]="announcement.IsActive==1"
                value="Yes">
              <label for="active{{i}}"></label>
            </div>
          </td>
          <td class="text-center">
            <!-- <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> -->
            <button class="edit" data-toggle="tooltip" data-placement="bottom" title="Edit" routerLink="/announcement/edit/{{announcement.AnnouncementId}}">
              <i class="fa fa-edit"></i> </button>
            <!-- <button class="delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button> -->

            <!-- <div class="inline_delbtn tooltip_inline" data-toggle="tooltip" data-placement="bottom" title="You can’t delete Certificate as it is assigned to one of the sub category ">
              <button *ngIf="certificate.isdisabled>0" class="delete" [disabled]="certificate.isdisabled>0" (click)="deleteCertificate(certificate)">
                <span class="fa fa-trash"></span> </button>
            </div> -->

              <button class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete"
                (click)="deleteAnnouncement(announcement)"> <i class="fa fa-trash"></i> </button>
            
          </td>

        </tr>


      </tbody>
    </table>

  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>