<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <!-- <i class="fa fa-cog" aria-hidden="true"></i> -->
      Course Before Reminder
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
      Welcome,
      <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>
    </div> -->
    <div class="breadcrumb_block pull-right">
      <!-- <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">
                <i class="fa fa-home"></i>
              </a>
            </li> -->
      <!-- <li class="breadcrumb-item active">Settings</li> -->
      <!-- <li class="breadcrumb-item active" aria-current="page"></li> -->
      <!-- </ul> -->
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div>
          <div class="row">
            <!-- Course Before Reminder Start -->
            <div class="white_shadow_box">
              <div class="col-md-12 col-sm-12">
                <form class="form-validate" #beforereminderForm="ngForm" (ngSubmit)="InsertOrUpdateBeforeReminder(beforereminderForm)">
                  <h1 class="no_margin">Course Before Reminder</h1>
                  <div class="course_forum_block">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group1">
                          <label>
                            <span class="required">*</span>Course</label>
                          <div class="clearfix"></div>

                          <select #CourseId="ngModel" [(ngModel)]="beforeReminderEntity.CourseId" name="CourseId" class="form-control" [disabled]="ableordisable"
                            required>
                            <ng-container *ngFor='let cl of courseList'>
                              <option [value]="cl.CourseId">{{cl.CourseFullName}}</option>
                            </ng-container>
                          </select>
                          <input type="hidden" [(ngModel)]="beforeReminderEntity.CourseBeforeReminderId" name="CourseBeforeReminderId">
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group1">
                          <label>
                            <span class="required">*</span>Start Date before</label>
                          <div class="clearfix"></div>
                          <select [(ngModel)]="beforeReminderEntity.RemainderDay1" name="RemainderDay1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                          <select [(ngModel)]="beforeReminderEntity.RemainderDay2" name="RemainderDay2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                          <select [(ngModel)]="beforeReminderEntity.RemainderDay3" name="RemainderDay3">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group1">
                          <label>
                            <span class="required">*</span>To Whom</label>
                          <div class="clearfix"></div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate1" name="candidate1" id="Candidate1" value="1" [checked]="beforeReminderEntity.candidate1=='1'">
                            <label for="Candidate1" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor1" name="instructor1" id="Instructor1" value="1" [checked]="beforeReminderEntity.instructor1=='1'">
                            <label for="Instructor1" class="checkboxbtn_label">Instructor</label>
                          </div>
                          <br>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate2" name="candidate2" id="Candidate2" value="1" [checked]="beforeReminderEntity.candidate2=='1'">
                            <label for="Candidate2" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor2" name="instructor2" id="Instructor2" value="1" [checked]="beforeReminderEntity.instructor2=='1'">
                            <label for="Instructor2" class="checkboxbtn_label">Instructor</label>
                          </div>
                          <br>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate3" name="candidate3" id="Candidate3" value="1" [checked]="beforeReminderEntity.candidate3=='1'">
                            <label for="Candidate3" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor3" name="instructor3" id="Instructor3" value="1" [checked]="beforeReminderEntity.instructor3=='1'">
                            <label for="Instructor3" class="checkboxbtn_label">Instructor</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 text-center">
                        <button type="submit" class="back_btn">
                          <span>Submit</span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>