<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <!-- <i class="fa fa-cog" aria-hidden="true"></i> -->
      Course Before Reminder
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      <i class="fa fa-info"></i>Welcome back,
      <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <!-- <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-home"></i>
          </a>
        </li> -->
      <!-- <li class="breadcrumb-item active">Settings</li> -->
      <!-- <li class="breadcrumb-item active" aria-current="page"></li> -->
      <!-- </ul> -->
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">
      <!-- <a routerLink="/state-list" class="next_btn pull-right">Back to Setting List</a>	 -->
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div>
          <div class="row">
            <!-- Course Before Reminder Start -->
            <div class="white_shadow_box">
              <div class="col-md-12 col-sm-12">
                <form class="form-validate" #beforereminderForm="ngForm"
                  (ngSubmit)="BeforeReminder(beforereminderForm)">
                  <h1 class="no_margin">Course Before Reminder</h1>
                  <div class="course_forum_block">
                    <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>
                            <span class="required">*</span>Course</label>
                          <select #CourseId="ngModel" [(ngModel)]="beforeReminderEntity.CourseId" name="CourseId"
                            class="form-control" required>
                            <ng-container *ngFor='let cl of courseList'>
                              <option [value]="cl.CourseId">{{cl.CourseFullName}}</option>
                            </ng-container>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>
                            <span class="required">*</span>Start Date before</label>
                          <select [(ngModel)]="beforeReminderEntity.day1" name="value">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                          <select [(ngModel)]="beforeReminderEntity.day2" name="value">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                          <select [(ngModel)]="beforeReminderEntity.day3" name="value">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>
                            <span class="required">*</span>To Whom</label>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate1" name="Check"
                              id="Candidate1" value="1">
                            <label for="Candidate1" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor1" name="Check"
                              id="Instructor1" value="1">
                            <label for="Instructor1" class="checkboxbtn_label">Instructor</label>
                          </div>
                          <br>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate2" name="Check"
                              id="Candidate2" value="Candidate2">
                            <label for="Candidate2" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor2" name="Check"
                              id="Instructor2" value="Instructor2">
                            <label for="Instructor2" class="checkboxbtn_label">Instructor</label>
                          </div><br>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.candidate3" name="Check"
                              id="Candidate3" value="Candidate3">
                            <label for="Candidate3" class="checkboxbtn_label">Candidate</label>
                          </div>
                          <div class="check_box">
                            <input type="checkbox" [(ngModel)]="beforeReminderEntity.instructor3" name="Check"
                              id="Instructor3" value="Instructor3">
                            <label for="Instructor3" class="checkboxbtn_label">Instructor</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 text-center">
                        <button type="submit" class="back_btn">
                          <span>Submit</span>
                        </button>
                      </div>
                    </div>
                    <!-- list Table -->
                    <div class="content_block">
                      <div class="col-md-12">
                        <table id="list_tables" class="table table-hover" style="width:100%">
                          <thead>
                            <tr>
                              <th class="text-center sr_no_width">#</th>
                              <th>CourseName</th>
                              <th>RemainderDay1</th>
                              <th>RemainderDay2</th>
                              <th>RemainderDay3</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dl of detatisList;let i = index">
                              <td class="text-center">{{i+1}}</td>
                              <td>{{dl.CourseFullName}}</td>
                              <td>{{dl.RemainderDay1}}</td>
                              <td>{{dl.RemainderDay2}}</td>
                              <td>{{dl.RemainderDay3}}</td>
                              <td class="text-center">
                                <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/coursebeforereminder/{{dl.CourseBeforeReminderId}}"><i class="fa fa-edit"></i></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- End list Table -->
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>