<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-id-badge" aria-hidden="true"></i>Default Badges
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<!-- <div class="welcome_message alert" role="alert">
			Welcome back,
			<strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>

		</div> -->
		<div class="breadcrumb_block pull-right">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
						<a routerLink="/dashboard">
							<i class="fa fa-home"></i>
						</a>
				</li>
				<li class="breadcrumb-item">
						<a routerLink="/default-badge">Default Badge</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Default Badges List</li>
			</ul>
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>

</div>
<div class="content_block">
		<div class="col-md-6 col-sm-6 pull-right add_btn">
				<a routerLink="/default-badge" class="next_btn pull-right">Add Default Badges</a>
			</div>
		<div class="clearfix"></div>
	<div class="col-md-12">
		<table id="list_tables" class="table table-hover" style="width:100%">
			<thead>
				<tr>
					<th class="text-center sr_no_width">#</th>
					<th class="action_width category">Badge Name</th>
					<th class="date_width text-center">Badge Image</th>


					<th class="text-center active_width">Active?</th>
					<th class="text-center action_width">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let badges of badgesList; let i = index">
					<td class="text-center">{{i+1}}</td>
					<td>{{badges.BadgeImage }}</td>
					<td class="text-center">
						<div class="col-md-2 col-sm-2 signature_preview">
							<div class="choose_img">
								<img id="BadgeImagePreview" align="middle" src="assets/Instructor/{{badges.rid}}/image/{{badges.BadgeImage}}">
							</div>
						</div>
					</td>
					<td class="text-center">
						<!-- <div class="activeyes_box">
                      <input type="checkbox" name="active1" id="active1" checked value="Yes">
                      <label for="active1"></label>
                    </div> -->
						<div class="activeyes_box" data-toggle="tooltip" data-placement="top" [attr.title]="badges.IsActive==1 ? 'Active' : 'Deactive'">
							<input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(badges,i)" [checked]="badges.IsActive==1"
							 value="Yes">
							<label for="active{{i}}"></label>
						</div>
					</td>
					<td class="text-center">
						<!-- <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> -->
						<button class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/default-badge/edit/{{badges.ResourcesId}}">
							<i class="fa fa-edit"></i>
						</button>
						<!-- <button class="delete" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button> -->
						<button class="delete" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteCategory(badges)">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>


			</tbody>
		</table>

	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>