<!-- <div class="loader_new" *ngIf="globals.isLoading">
    <div style="position: fixed; z-index: 9999; top: 38%; left: 45%;">
        <div class="loader"></div>
        <div style="color: #fff; margin-top: 10px; text-align: center;"><strong>Processing...</strong></div>
    </div>
</div>

<app-header *ngIf="!globals.headerhome"></app-header> 
        <app-headerhome *ngIf="globals.headerhome"></app-headerhome>
        <router-outlet></router-outlet>
        <footer [ngClass]="{home_page: globals.footerhome}">
            <app-footer ></app-footer>
        </footer> -->

        <router-outlet></router-outlet>


