<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-envelope" aria-hidden="true"></i>Inbox
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#">Inbox</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="content_block">
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_header">
        <div class="col-md-4 col-sm-4 col-xs-12 compose_label">
          <a routerLink="/compose">Compose Mail</a>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 serach_mail">
          <div class="form-group">
            <label><span></span>Searching for all message</label>
            <input type="text" name="lname" id="lname" class="form-control" required />
          </div>
          <!-- <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button> -->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_list_block">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="list_top_header_left">
            <h3>Inbox <span>(18)</span></h3>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="list_top_header_right">
            <div class="form-group">
              <label><span></span>Search for inbox</label>
              <input type="text" name="fname" id="fname" class="form-control" required />
            </div>
            <!-- <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button> -->
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="list_bottom_header_left">
            <div class="check_box">
              <input type="checkbox" name="Check" id="Check1" value="Check1">
              <label for="Check1" class="checkboxbtn_label">Select All</label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
          <div class="list_tbottom_header_right">
            <strong>1-10</strong><span> of 18</span>
            <div class="btn-group">
              <a href="#"><i class="fa fa-angle-left"></i></a>
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="mail_box_tbl">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check2" value="Check2">
                    <label for="Check2" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Facebook <span>2</span></a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new"><span class="rf_head">RE:</span> Reset your account password</a></td>
                <td class="mail_time_head text-right">10.45 PM</td>
              </tr>
              <tr class="unread_mail_row">
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check3" value="Check3">
                    <label for="Check3" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Apple.com <span>4</span></a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">Your apple account ID has been accessed from un-familiar lor...</a>
                </td>
                <td class="mail_time_head text-right">Today</td>
              </tr>
              <tr class="unread_mail_row">
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check4" value="Check4">
                    <label for="Check4" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star active"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">SomeHost <span>12</span></a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">Bugs in your system.</a></td>
                <td class="mail_time_head text-right">Yesterday</td>
              </tr>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check5" value="Check5">
                    <label for="Check5" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Instagram</a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">Instagram announces the new video uploadin feature.</a></td>
                <td class="mail_time_head text-right">2.10 AM</td>
              </tr>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check6" value="Check6">
                    <label for="Check6" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope-open active"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Rusty Catton</a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new"><span class="rf_head">FW:</span> Aldus PageMaker including versions of Lorem Ipsum.</a></td>
                <td class="mail_time_head text-right">Jan 16</td>
              </tr>
              <tr class="unread_mail_row">
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check7" value="Check7">
                    <label for="Check7" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Monica Ryther <span>5</span></a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">The standard chunk of Lorem Ipsum used.</a></td>
                <td class="mail_time_head text-right">December 22</td>
              </tr>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check8" value="Check8">
                    <label for="Check8" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Virgil Malloy <span>8</span></a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new"><span class="rf_head">RE:</span> Contrary to popular belief.</a></td>
                <td class="mail_time_head text-right">4.22 PM</td>
              </tr>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check9" value="Check9">
                    <label for="Check9" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Patrick Pertners</a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">If you are going to use a passage of Lorem</a></td>
                <td class="mail_time_head text-right">6.10 AM</td>
              </tr>
              <tr>
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check10" value="Check10">
                    <label for="Check10" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star-o"></i></a>
                  <a href=""><i class="fa fa-envelope-open active"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Michael Fox</a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">Humour, or non-characteristic words etc.</a></td>
                <td class="mail_time_head text-right">8.22 PM</td>
              </tr>
              <tr class="unread_mail_row">
                <td class="width_2">
                  <div class="check_box">
                    <input type="checkbox" name="Check" id="Check11" value="Check11">
                    <label for="Check11" class="checkboxbtn_label"></label>
                  </div>
                </td>
                <td class="mail_icn_head width_8">
                  <a href=""><i class="fa fa-star active"></i></a>
                  <a href=""><i class="fa fa-envelope"></i></a>
                  <a href=""><i class="fa fa-trash"></i></a>
                  <a routerLink="/inbox-preview-new"><i class="fa fa-paperclip"></i></a>
                </td>
                <td class="mail_from_head width_10"><a routerLink="/inbox-preview-new">Damien Ritz</a></td>
                <td class="mail_sub_head"><a routerLink="/inbox-preview-new">Oor Lorem Ipsum is that it has a more-or-less normal.</a></td>
                <td class="mail_time_head text-right">10.52 AM</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
      <div class="pagination_block">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <li class="page-item active">
              <span class="page-link">
                1
                <span class="sr-only">(current)</span>
              </span>
            <li class="page-item"> <a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>