<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-certificate" aria-hidden="true"></i>Certificate
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      <i class="fa fa-info"></i>Welcome back,
      <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>

    </div>
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="/certificatetemplatelist">Certificate</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">
      <a routerLink="/certificatetemplatelist" class="next_btn pull-right">Back to Certificate list</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">
  <div class="col-md-12 col-sm-12">
    <form class="form-validate" #CertificateForm="ngForm" (ngSubmit)="addCertificate(CertificateForm)">
      <h1 class="no_margin pull-left">Add Certificate</h1>
      <div class="form-group-active pull-right">
        <label>
          <span class="required">*</span>Active ?</label>
        <div class="activeyes_box">
          <input type="checkbox" name="IsActive" id="IsActive" value="yes" #IsActive="ngModel" [(ngModel)]="CertificateEntity.IsActive">
          <label for="IsActive"></label>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="course_forum_block">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label>
                <span class="required">*</span>Certificate Name </label>
              <input type="text" pattern="[a-zA-Z0-9.'/,-./;/:/(/&/)/./ ]{2,}" maxlength="100" #CertificateName="ngModel" [(ngModel)]="CertificateEntity.CertificateName"
                class="form-control" name="CertificateName" [ngClass]="{red_border: (CertificateName.dirty && CertificateName.invalid) || (CertificateName.pristine && submitted)}"
                required />
              <span class="error_span" *ngIf="(CertificateName.dirty && CertificateName.invalid) || (CertificateName.pristine && submitted)">
                <span *ngIf="CertificateName.errors.required || (CertificateName.pristine && submitted)">
                  Please enter Certificate Name
                </span>
                <span *ngIf="CertificateName.errors && CertificateName.errors.pattern">
                  Please enter valid Certificate Name
                </span>
              </span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-9 col-sm-9">
            <div class="form-group ckeditor_block editor focused">
              <label>
                <span class="required">*</span>Template</label>
              <textarea class="form-control" #CertificateTemplate="ngModel" [(ngModel)]="CertificateEntity.CertificateTemplate" name="CertificateTemplate"
                id="CertificateTemplate" rows="10" cols="60" contenteditable="true"></textarea>
              <span class="error_span" *ngIf="des_valid">Please enter Template</span>
            </div>

            <!-- <div class="form-group">
            <label><span class="required">*</span>Template</label>
            <textarea rows="10" cols="60" #CertificateTemplate="ngModel" [(ngModel)]="CertificateEntity.CertificateTemplate" class="form-control"
              name="CertificateTemplate" [ngClass]="{red_border: (CertificateTemplate.dirty && CertificateTemplate.invalid) || (CertificateTemplate.pristine && submitted)}"
              required></textarea>
            <span class="error_span" *ngIf="(CertificateTemplate.dirty && CertificateTemplate.invalid) || (CertificateTemplate.pristine && submitted)">
              <span *ngIf="CertificateTemplate.errors && CertificateTemplate.errors.required">
                Please enter Template
              </span>
              <span *ngIf="CertificateTemplate.errors && CertificateTemplate.errors.pattern">
                Please enter valid Template
              </span>
            </span>
          </div> -->
          </div>
          <div class="col-md-3 white_box">
            <div class="panel panel-default">
              <div class="panel-heading">
                Placeholder List
              </div>
              <div class="panel-body btn-email">
                <div class="contacts">
                  <div id="contactList">
                    <div *ngFor="let ph of placeholderList" class="contact h-card" data-contact="0" draggable="true" tabindex="0" title="Drag And Drop">
                      {{ph.PlaceholderName}}
                    </div>
                  </div>
                </div>
              </div>
              <!--</div>-->
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group-active">
              <label>
                <span class="required">*</span>Active ?</label>
              <div class="activeyes_box">
                <input type="checkbox" name="IsActive" id="IsActive" value="yes" #IsActive="ngModel" [(ngModel)]="CertificateEntity.IsActive">
                <label for="IsActive"></label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div> -->

        </div>
      </div>
      <div class="text-center">
        <button class="next_btn" type="submit">
          <span>Save Changes</span>
        </button>
        <button class="back_btn" type="submit" (click)="clearForm(CertificateForm)">
          <span>Clear</span>
        </button>
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>