<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-envelope" aria-hidden="true"></i>Compose Mail
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#">Compose Mail</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_header">
        <div class="col-md-2 compose_label">
          <a routerLink="/compose">Compose Mail</a>
        </div>
        <div class="col-md-8 serach_mail">
          <div class="form-group">
            <label><span></span>Searching for all message</label>
            <input type="text" name="lname" id="lname" class="form-control" required />
          </div>
        </div>
        <div class="col-md-2 compose_label text-right">
          <a routerLink="/inbox-new">Back to inbox</a>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_preview_header">
        <div class="col-md-8">
          <div class="inbox_preview_sub">
            <span>Compose mail</span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <div class="mail_actions">
            <a href=""><i class="fa fa-paper-plane"></i> Send</a>
            <a href=""><i class="fa fa-pencil"></i> Draft</a>
            <a href=""><i class="fa fa-times"></i> Discard</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
          <div class="inbox_compose_mail">
            <div class="form-group">
              <label><span></span>To</label>
              <input type="text" name="to" id="to" class="form-control" required />
              <div class="cc_bcc_btn">
                <a id="clickMeCC" (click)="show('CCinput'); hide('clickMeCC')">CC</a>
                <a id="clickMeBCC" (click)="show('BCCinput'); hide('clickMeBCC')">BCC</a>
              </div>
            </div>
            <div class="form-group display_none" id="CCinput">
              <label><span></span>CC</label>
              <input type="text" name="cc" id="cc" class="form-control" required />
            </div>
            <div class="form-group display_none" id="BCCinput">
              <label><span></span>BCC</label>
              <input type="text" name="bcc" id="bcc" class="form-control" required />
            </div>
            <div class="form-group">
              <label><span></span>Subject</label>
              <input type="text" name="subject" id="subject" class="form-control" required />
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="inbox_compose_body">
        <div class="col-md-12">
          <div class="form-group focused ckeditor_block editor">
            <textarea class="form-control" name="Description" id="DescriptionF" rows="10" cols="60"
              contenteditable="true" class="form-control"></textarea>
          </div>
          <div class="clearfix"></div>

          <div class="form-group m_0">
            <input type="file" id="multiupload"
              accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="inbox_preview_attachments_footer">
        <div class="col-md-12 text-right">
          <div class="mail_actions">
            <a href=""><i class="fa fa-paper-plane"></i> Send</a>
            <a href=""><i class="fa fa-pencil"></i> Draft</a>
            <a href=""><i class="fa fa-times"></i> Discard</a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<!-- Modal popup for carousel img preview -->
<div class="modal fade" id="modalgallery" tabindex="-1" role="dialog" aria-labelledby="Lightbox Gallery"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="cancel_modal" aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <div id="lightbox" class="carousel slide" data-ride="carousel" data-interval="5000" data-keyboard="true">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/bg.png" class="img-responsive" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal popup for carousel img preview -->