<div class="title_heading">				
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-edit" aria-hidden="true"></i>My Profile
		</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<!-- <div class="welcome_message alert" role="alert">
				Welcome, <strong>12th Dec 2018 12:45</strong> 
				 
			</div> -->
		</div>
		<div class="clearfix"></div>
		<div class="breadcrumb_block">
			<div class="col-md-6 col-sm-6">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="breadcrumb-item active" aria-current="page">My Profile</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	<div class="clearfix"></div>
</div>
<div class="content_block editprofile_content">
          <div class="col-md-4 col-sm-4">
            <div class="editprofile_left">
              <div class="img_profile"><span class="letter_img"><img src="assets/images/guy-6.jpg" alt="" class="img-responsive" /></span>
                <div class="profile_name">Dave Mattew</div>
                <div class="completeness_li">Profile Completeness
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
				</div>
			  </div>
             <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#personaldetails" aria-controls="personaldetails" role="tab" data-toggle="tab"><i class="fa fa-user"></i>Personal Details</a></li>
                <li><a href="#companydetails" aria-controls="companydetails" role="tab" data-toggle="tab"><i class="fa fa-graduation-cap"></i>Educational Details</a></li>
                <li><a href="#changepassword" aria-controls="changepassword" role="tab" data-toggle="tab"><i class="fa fa-key"></i>Change Password</a></li>
                <li><a href="#"><i class="fa fa-sign-out"></i>Sign Out</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-8 col-sm-8">
            <div class="editprofile_right">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="personaldetails">
                  <h3>Personal Details</h3>
                  <form>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>First Name </label>
                          <input type="text" class="form-control" value="Dave" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Last Name </label>
                          <input type="text" class="form-control" value="Mattew" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Job Title</label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Email Address </label>
                          <input type="text" class="form-control" value="dave@gmail.com" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Phone Number </label>
                          <input type="text" class="form-control" value="9876543211" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label>Phone Number (Alternative) </label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Address 1 </label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Address 2 </label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Country </label>
                          <select>
                            <option></option>
                            <option>United States</option>
                            <option>Australia</option>
                            <option>Sweden</option>
                            <option>Japan</option>
                            <option>Canada</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>State / Province </label>
                          <select>
                            <option></option>
                            <option>Washington</option>
                            <option>Maryland</option>
                            <option>Hawaii</option>
                            <option>New York</option>
                            <option>Virginia</option>
                          </select>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>City </label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Zip code</label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="text-center">
                      <button class="next_btn" type="submit"><span>Save Changes</span></button>
                      <button class="back_btn" type="submit"><span>Cancel</span></button>
                    </div>
                  </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="companydetails">
                  <h3>Educational Details</h3>
                  <form>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
						<label><span>*</span>Level of Education</label>
						<select class="form-control">
							<option>Select Level</option>
							<option>Secondary School</option>
							<option>Higher Secondary School</option>
							<option selected>Bachelors</option>
							<option>Masters</option>
							<option>Ph.D</option>
						</select>
						</div>
                      </div>
					  <div class="col-md-6 col-sm-6">
						<div class="form-group">
						<label><span>*</span>Field </label>
						<input type="text" class="form-control" value="Computer Applocations" />
						</div>
					  </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                      <div class="form-group file_upload">
						<label><span>*</span>Upload Certificate </label>
						<input type="text" disabled /><input type="file" name="fileToUpload" id="fileToUpload" class="form-control" />
					</div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                  <div class="text-center">
                    <button class="next_btn" type="submit"><span>Save Changes</span></button>
                    <button class="back_btn" type="submit"><span>Cancel</span></button>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="changepassword">
                  <h3>Change Password</h3>
                  <form>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Old Password </label>
                          <input type="password" class="form-control" value="" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Password </label>
                          <input type="password" class="form-control" data-toggle="tooltip" data-placement="top"
                          data-html="true"
title="<ul class='tooltip_style'><li>Minimum 8 and maximum 50 characters in length.</li><li>Should allow AlphaNumeric characters.</li><li>Only special characters allowed are at the rate (@), Underscore (_), Dash (-), Dollar ($), Star (*), Ampersand (&), Exclamation mark (!), and Hash (#).</li></ul>"
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label><span>*</span>Confirm Password</label>
                          <input type="password" class="form-control" />
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                  <div class="text-center">
                    <button class="next_btn" type="submit"><span>Save Changes</span></button>
                    <button class="back_btn" type="submit"><span>Cancel</span></button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
       
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>