<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-envelope" aria-hidden="true"></i>Inbox-Preview
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#">Inbox-Preview</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_header">
        <div class="col-md-2 compose_label">
          <a href="">Compose Mail</a>
        </div>
        <div class="col-md-10 serach_mail">
          <div class="form-group">
            <label><span></span>Search</label>
            <input type="text" name="lname" id="lname" class="form-control" required />
          </div>
          <!-- <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button> -->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="inbox_preview_header">
        <div class="col-md-8">
          <div class="inbox_preview_sub">
            <span>Subject: Aldus PageMaker including versions of Lorem Ipsum.</span>
          </div>
          <div class="inbox_preview_mail">
            <span>From: alex.smith@corporation.com</span>
            <span>To: me</span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <div class="mail_actions">
            <a href=""><i class="fa fa-reply"></i></a>
            <a href=""><i class="fa fa-reply-all"></i></a>
            <a href=""><i class="fa fa-share"></i></a>
            <a href=""><i class="fa fa-trash"></i></a>
          </div>
          <div class="mail_schedule">
            <span>10:15AM 02 FEB 2014</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="inbox_preview_body">
        <div class="col-md-12">
          <p>Hello Jonathan!</p>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.It was popularised in the 1960s with the release of Letraset
            sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum. It has survived not only five centuries, but also the leap into
            electronic
            typesetting, remaining essentially unchanged.</p>
          <p>It was popularised in the 1960s with the release Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <p>There are many variations of passages of Lorem IpsumLorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
            If
            you are going to use a passage of.</p>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="inbox_preview_attachments">
        <div class="col-md-12">
          <div class="inbox_preview_attachments_head">
            <h6><i class="fa fa-paperclip" aria-hidden="true"></i> Attachments <span>(2)</span></h6>
          </div>
          <div class="inbox_preview_attachments_files">
            <div class="col-md-3">
              <div class="attachments_files_box">
                <a href="#">
                  <i class="fa fa-file" aria-hidden="true"></i>
                  <span>Document_2014.doc</span>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="attachments_files_box">
                <a href="#">
                  <div class="attachments_files_img">
                    <img src="assets/images/bg.png" alt="" class="img-responsive" />
                  </div>
                  <span>badge.png</span>
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="inbox_preview_attachments_footer">
        <div class="col-md-12 text-right">
          <div class="mail_actions">
            <a href=""><i class="fa fa-reply"> Reply</i></a>
            <a href=""><i class="fa fa-reply-all"> Reply to All</i></a>
            <a href=""><i class="fa fa-share"> Forward</i></a>
            <a href=""><i class="fa fa-trash"> Delete</i></a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>