
<div class="title_heading">
    <div class="col-md-4 col-sm-4">
      <div class="title_text">
        <i class="fa fa-user" aria-hidden="true"></i>Invite Instructor
      </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
      Welcome back, <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong> 
      
    </div> -->
    <div class="clearfix"></div>
    <div class="breadcrumb_block">
      <div class="col-md-6 col-sm-6">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a >Invite Instructor</a></li>
          <li class="breadcrumb-item active" aria-current="page">Invite</li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 col-sm-6">
           
                    <a routerLink="/invited-instructor-list" class="next_btn pull-right">Back to Invited Instructor List</a>	
               
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="content_block course_detail_block">
    <div class="col-md-12 col-sm-12">
      <div class="course_details">
        <div class="mydivs">
          <div *ngIf="!secondform">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                  <form class="form-validate" role="form" #inviteForm="ngForm" (ngSubmit)="inviteUser(inviteForm)">
                  <h1 class="no_margin">Invite Instructor</h1>
                  
                  <div class="course_forum_block">
  
                      <!-- <div class="row">
                    <div>
                     
                          <div class="col-md-6 col-sm-6">
                            <div *ngIf="!companyhide">
                              <div class="form-group">
                                  <label><span class="required">*</span>Company Name</label>
                                        <select class='select-option' required class="form-control" #CompanyId="ngModel" 
                                        [(ngModel)]="inviteUserEntity.CompanyId" name="CompanyId" [ngClass]="{red_border: (CompanyId.dirty && CompanyId.invalid) || (CompanyId.pristine && submitted)}">
                                         
                                      <option value="" ngSelected='inviteUserEntity.CompanyId==""'>Select</option>
                                          <option class='option' *ngFor='let comp of companyList' [value]="comp.CompanyId">{{comp.Name}}</option> </select>
                                           <span class="error_span"  *ngIf="(CompanyId.dirty && CompanyId.invalid) || (CompanyId.pristine && submitted)"> 
                                          <span *ngIf="CompanyId.errors.required || (CompanyId.pristine && submitted)">Please select company name </span>
                                      </span>
                              </div>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                            
                            </div>
                          </div>
                      </div>
                      <div class="form-group col-md-1 or_block">
                          OR
                      </div>
                      <div class="form-group col-md-5">
                          <button type="button" class="back_btn" (click)="com()"  ><span>Add Company</span></button>
                      </div>
                      </div> -->
  
                      <!-- <div class="clearfix"></div>
                      <div  *ngIf="companyhide">
                          <h3>Add Company Detail</h3>
                                      <div   (click)="del()" class="close_btn btn btn-danger btn-rounded btn-sm">  <i class="fa fa-close"></i></div>
                                      <div class="clearfix"></div>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <label><span class="required">*</span>Company Name</label>
                                      <input type="text" class="form-control" #Name="ngModel" name="Name" pattern="[a-zA-Z',.$\ ]{2,100}" maxlength="100" [(ngModel)]="inviteUserEntity.Name" [disabled]="btn_disable" [ngClass]="{red_border: (((Name.dirty && Name.invalid) || (Name.pristine && submitted)) && !submitted1)}"  required/>
                                      <span class="error_span"  *ngIf="(((Name.dirty && Name.invalid) || (Name.pristine && submitted)) && !submitted1)"> 
                                          <span *ngIf="Name.errors.required || (Name.pristine && submitted)">Please enter Company name</span>
                                          <span class="error_span" *ngIf="Name.errors && Name.errors.pattern">
                                          Please enter valid Company name
                                    </span>
                                      </span>	
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Industry</label>
                                    <select class="form-control"   #IndustryId="ngModel" [(ngModel)]="inviteUserEntity.IndustryId" name="IndustryId"  [disabled]="btn_disable" >  
                                    <option value="" ngSelected='inviteUserEntity.IndustryId==""' >Select Industry </option>
                                    <option *ngFor="let Industry of IndustryList" value="{{Industry.IndustryId}}" 
                                    ngSelected="inviteUserEntity.IndustryId==Industry.IndustryId" >{{Industry.IndustryName}}</option>
                                </select> -->
                                    <!-- <span class="error_span" *ngIf="(IndustryId.dirty && IndustryId.invalid) || (IndustryId.pristine && submitted)">  
                                        <span *ngIf="IndustryId.errors.required || (IndustryId.pristine && submitted)">
                                            Please select industry										</span> 
                                    </span>  -->
                                <!-- </div>
                              </div>
                          </div> -->
                          <!-- <div class="clearfix"></div>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <label><span class="required">*</span>Email Address</label>
                                      <input type="email" class="form-control" #EmailAddressCom="ngModel" name="EmailAddressCom" 
                                      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"	[(ngModel)]="inviteUserEntity.EmailAddressCom" [ngClass]="{red_border: (EmailAddressCom.dirty && EmailAddressCom.invalid) || (EmailAddressCom.pristine && submitted)}"  required/>
                                      <span class="error_span"  *ngIf="(EmailAddressCom.dirty && EmailAddressCom.invalid) || (EmailAddressCom.pristine && submitted)"> 
                                          <span *ngIf="EmailAddressCom.errors.required || (EmailAddressCom.pristine && submitted)">Please enter email address </span>
                                      </span>
                                      <span class="error_span" *ngIf="EmailAddressCom.errors && EmailAddressCom.errors.pattern">
                                          Please enter valid email address
                                    </span>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Phone Number</label>
                                              <input type="phonenum" class="form-control" #PhoneNo="ngModel" name="PhoneNo"  maxlength="13"
                                                  [(ngModel)]="inviteUserEntity.PhoneNo" [ngClass]="{red_border: (PhoneNo.dirty && PhoneNo.invalid) || (PhoneNo.pristine && submitted)}"  />
                                              <span class="error_span"  *ngIf="(PhoneNo.dirty && PhoneNo.invalid) || (PhoneNo.pristine && submitted)"> 
                                                  <span class="error_span" *ngIf="PhoneNo.errors && PhoneNo.errors.pattern">
                                                      Please enter valid phone number
                                                </span>
                                              </span>
                                </div>
                              </div>
                          </div> -->
  
                          <!-- <div class="clearfix"></div>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <label><span class="required">*</span>Website</label>
                                              <input type="email" class="form-control" #Website="ngModel" name="Website" 
                                                  [(ngModel)]="inviteUserEntity.Website" pattern="[a-zA-Z0-9.-_]{1,}[.]{1}[a-zA-Z]{2,}" maxlength="250"
                                                   [ngClass]="{red_border: (Website.dirty && Website.invalid) || (Website.pristine && submitted)}" required/>
                                              <span class="error_span"  *ngIf="(Website.dirty && Website.invalid) || (Website.pristine && submitted)"> 
                                                  <span *ngIf="Website.errors.required || (Website.pristine && submitted)">Please enter website </span>
                                                   <span class="error_span" *ngIf="Website.errors && Website.errors.pattern">
                                                  Please enter valid website
                                            </span>
                                              </span>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label><span class="required">*</span>Address</label>
                                    <input type="text" class="form-control" #Address="ngModel" name="Address" maxlength="100"
                                        [(ngModel)]="inviteUserEntity.Address" [ngClass]="{red_border: (Address.dirty && Address.invalid) || (Address.pristine && submitted)}" pattern="[a-zA-Z',&.$\ ]{2,100}"  required/>
                                        <span class="error_span"  *ngIf="(Address.dirty && Address.invalid) || (Address.pristine && submitted)"> 
                                        <span *ngIf="Address.errors.required || (Address.pristine && submitted)">Please enter address</span>
                                        <span *ngIf="Address.errors && Address.errors.pattern">Please enter address</span>
                                    </span>
                                </div>
                              </div>
                          </div> -->
  
                          <!-- <div class="clearfix"></div>
                          <div class="row">
                              <div class="col-md-6 col-sm-6">
                                  <div class="form-group">
                                      <label><span class="required">*</span>Working Days</label>
                                      <input type="text" class="form-control" #WorkingDays="ngModel" name="WorkingDays" 
                                          [(ngModel)]="inviteUserEntity.WorkingDays" [ngClass]="{red_border: (WorkingDays.dirty && WorkingDays.invalid) || (WorkingDays.pristine && submitted)}" pattern="[a-zA-Z',.$\ ]{2,100}" maxlength="200"  required/>
                                          <span class="error_span"  *ngIf="(WorkingDays.dirty && WorkingDays.invalid) || (WorkingDays.pristine && submitted)"> 
                                          <span *ngIf="WorkingDays.errors.required || (WorkingDays.pristine && submitted)">Please enter working days</span>
                                          <span *ngIf="WorkingDays.errors && WorkingDays.errors.pattern">Please enter working days</span>
                                      </span>
                                  </div>
                              </div>
                              <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label><span class="required">*</span>Active?</label>
                                                        
                                  <br>
                                  <div class="radio_box">
                                    <input type="radio"  name="IsActive" id="role1" value="1" #IsActive="ngModel" [(ngModel)]="inviteUserEntity.IsActive" required/>
                                    <label for="role1">Yes</label>
                                  </div>
                                  <div class="radio_box" >
                                    <input type="radio" name="IsActive" [disabled]="inviteUserEntity.isdisabled>0" id="role2" value="0" #IsActive="ngModel" [(ngModel)]="inviteUserEntity.IsActive" required/>
                                    <label for="role2"  class="tooltip_inline"  data-toggle="tooltip" data-placement="bottom" title="Company can't be deactive as it is already assigned to an active User's profile" >No </label>
                                  </div>
                                  
                                  <br>
                                  <span class="error_span" *ngIf="(IsActive.dirty && IsActive.invalid) || (IsActive.pristine && submitted)"> 
                                      <span *ngIf="IsActive.errors.required || (IsActive.pristine && submitted)">Please select active IsStatus</span>
                                    </span>
                                </div>
                              </div>
                          </div>
  
  
  
  
  
                    </div> -->
  
  
  
                    <div class="clearfix"></div>
  
                    <!-- <h3>User Detail</h3> -->
  
                    <!-- <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label><span>*</span>First Name</label>
                                <input type="text" class="form-control" #FirstName="ngModel" [(ngModel)]="inviteUserEntity.FirstName" class="form-control" name="FirstName" pattern="[a-zA-Z',&.$\ ]{2,100}" maxlength="100"  [ngClass]="{red_border: (FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)}" required/>
                                <span class="error_span" *ngIf="(FirstName.dirty && FirstName.invalid) || (FirstName.pristine && submitted)"> 
                                <span *ngIf="FirstName.errors.required || (FirstName.pristine && submitted)">Please enter first name </span>
                                <span *ngIf="FirstName.errors && FirstName.errors.pattern">Please enter valid first name</span>	
                                </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label><span>*</span>Last Name</label>
                            <input type="text" class="form-control" #LastName="ngModel" name="LastName" maxlength="100"
                            [(ngModel)]="inviteUserEntity.LastName" [ngClass]="{red_border: (LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)}" pattern="[a-zA-Z',&.$\ ]{2,100}"  required/>
                            <span class="error_span"  *ngIf="(LastName.dirty && LastName.invalid) || (LastName.pristine && submitted)"> 
                            <span *ngIf="LastName.errors.required || (LastName.pristine && submitted)">Please enter last name </span>
                            <span *ngIf="LastName.errors && LastName.errors.pattern">Please enter last name</span>
                        </span>
                          </div>
                        </div>
                    </div> -->
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                              <label><span>*</span>Email Address</label>
                            <input type="email" class="form-control" #EmailAddress="ngModel" name="EmailAddress" 
                                      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"	[(ngModel)]="inviteUserEntity.EmailAddress" [ngClass]="{red_border: (EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)}"  required/>
                                      <span class="error_span"  *ngIf="(EmailAddress.dirty && EmailAddress.invalid) || (EmailAddress.pristine && submitted)"> 
                                          <span *ngIf="EmailAddress.errors.required || (EmailAddress.pristine && submitted)">Please enter email address </span>
                                      </span>
                                      <span class="error_span" *ngIf="EmailAddress.errors && EmailAddress.errors.pattern">
                                          Please enter valid email address
                                    </span>
                                 

                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                              <!-- <label><span class="required">*</span>Role Name</label>
                              <select class='select-option' required class="form-control" #RoleId="ngModel" [(ngModel)]="inviteUserEntity.RoleId" name="RoleId" [ngClass]="{red_border: (RoleId.dirty && RoleId.invalid) || (RoleId.pristine && submitted)}">
                              <option value="" ngSelected='inviteUserEntity.RoleId==""'>Select Role</option>
                               <option class='option' *ngFor='let role of roleList' [value]="role.RoleId">{{role.RoleName}}</option></select>
                               <span class="error_span"  *ngIf="(RoleId.dirty && RoleId.invalid) || (RoleId.pristine && submitted)"> 
                                   <span *ngIf="RoleId.errors.required || (RoleId.pristine && submitted)">Please select role </span>
                               </span> -->
                          </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                   
                 
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12  text-center">
                            <button type="submit" class="back_btn"><span>Submit</span></button>
                         
                        </div>
                      </div>
                   
                 
                   
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
  
           
          </div>
          
        </div>
      </div>
    </div>
  </div>