<div class="title_heading">				
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>Email Templates
    </div>
    </div>
    <div class="col-md-8 col-sm-8">
      <div class="welcome_message alert" role="alert">
        <i class="fa fa-info"></i>Welcome back, <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong> 
         
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="breadcrumb_block">
      <div class="col-md-6 col-sm-6">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a href="#">Email Template</a></li>
          <li class="breadcrumb-item active" aria-current="page">List</li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <a routerLink="/emailtemplate" class="next_btn pull-right">Add a Email Template</a>	
      </div>
      <div class="clearfix"></div>
    </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">
   <div class="col-md-12">
     <table id="list_tables" class="table table-hover" style="width:100%">
           <thead>
            <tr>
                <th class="text-center sr_no_width">#</th>  
                <th class="width_15">Email Token</th>
                <th>Subject</th>
                <th class="date_time_width">To</th>
                <th class="width_15">CC</th>
                <th class="width_15">BCC</th>
                <th class="text-center active_width">Active?</th>
                <th class="text-center action_width">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Email of EmailList;let i = index">
                <td class="text-center">{{i+1}}</td>
                <td>{{Email.TokenName}}</td>
                <td>{{Email.Subject}}</td>
                <td>{{Email.roleTo}}</td>
                <td>{{Email.roleCc}}</td>
                <td>{{Email.roleBcc}}</td>
           
                <td class="text-center">
                            <div class="activeyes_box"  data-toggle="tooltip" data-placement="top" [attr.title]="Email.IsActive==1 ? 'Active' : 'Deactive'">
                                    <input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(Email,i)" [checked]="Email.IsActive==1" value="Yes" >
                                    <label for="active{{i}}"></label>
                            </div>
                </td>
                <td class="text-center">
          <!-- <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button> -->
          <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/emailtemplate/edit/{{Email.EmailId}}"><i class="fa fa-edit"></i></button>
                    <button class="delete" data-toggle="tooltip" data-placement="top"   title="Delete"  (click)="deleteEmail(Email)"  > <i class="fa fa-trash"></i> </button>
        </td>
            </tr>
              </tbody>
            </table>
          
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>