<ul class="list_page">
	<li><a routerLink="/calendar">Scheduler</a></li>
	<li><a routerLink="/course-detail">Course Detail</a></li>
	<li><a routerLink="/user-list">User List</a></li>
	<li><a routerLink="/dashboard">Admin Dashboard</a></li>
	<li><a routerLink="/certificate">Certificates &amp; Badges</a></li>
	<li><a routerLink="/login">Login</a></li>
	<li><a routerLink="/forgot-password">Forgot Password</a></li>
	<li><a routerLink="/register-learner">Register Learner</a></li>
	<li><a routerLink="/register-instructor">Register Instructor</a></li>
	<li><a routerLink="/register-admin">Register Admin</a></li>
	<li><a routerLink="/edit-profile-learner">Edit Profile Learner</a></li>
	<li><a routerLink="/edit-profile-instructor">Edit Profile Instructor</a></li>
	<li><a routerLink="/edit-profile-admin">Edit Profile Admin</a></li>
</ul>