<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-globe" aria-hidden="true"></i>{{header}} a Country
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
      Welcome back,
      <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>

    </div> -->
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Country</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{header}}</li>
      </ul>
    </div>
    <div class="clearfix"></div>

  </div>
  <div class="clearfix"></div>

</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div *ngIf="!secondform">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <form class="form-validate" #CountryForm="ngForm" (ngSubmit)="addCountry(CountryForm)">
                <div class="form-group-active pull-right">
                  <label>
                    <span>*</span>Active?</label>

                  <div class="activeyes_box">
                    <input type="checkbox" name="IsActive" id="IsActive" value="yes" #IsActive="ngModel" [(ngModel)]="CountryEntity.IsActive">
                    <label for="IsActive"></label>
                  </div>
                </div>
                <div class="clearfix"></div>

                <div class="course_forum_block">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>
                          <span class="required">*</span>Country</label>
                        <input type="text" #CountryName="ngModel" pattern="[a-zA-Z ]{2,}" maxlength="100" [(ngModel)]="CountryEntity.CountryName"
                          class="form-control" name="CountryName" [ngClass]="{red_border: (CountryName.dirty && CountryName.invalid) || (CountryName.pristine && submitted)}"
                          required/>
                        <span class="error_span" *ngIf="(CountryName.dirty && CountryName.invalid) || (CountryName.pristine && submitted)">
                          <span *ngIf="CountryName.errors && CountryName.errors.required">Please enter country</span>
                          <span *ngIf="CountryName.errors && CountryName.errors.pattern">Please enter valid country</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>
                          <span class="required">*</span>Country Abbreviation</label>
                        <input type="text" #CountryAbbreviation="ngModel" pattern="[a-zA-Z]{2,}" maxlength="3" [(ngModel)]="CountryEntity.CountryAbbreviation"
                          class="form-control txtupper" name="CountryAbbreviation" [ngClass]="{red_border: (CountryAbbreviation.dirty && CountryAbbreviation.invalid) || (CountryAbbreviation.pristine && submitted)}"
                          required/>
                        <span class="error_span" *ngIf="(CountryAbbreviation.dirty && CountryAbbreviation.invalid) || (CountryAbbreviation.pristine && submitted)">
                          <span *ngIf="CountryAbbreviation.errors && CountryAbbreviation.errors.required"> Please enter country abbreviation</span>
                          <span *ngIf="CountryAbbreviation.errors && CountryAbbreviation.errors.pattern"> Please enter valid country abbreviation</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>
                          <span class="required">*</span>Phone Prefix</label>
                        <input type="text" #PhonePrefix="ngModel" pattern="[0-9+]{1,}" maxlength="11" [(ngModel)]="CountryEntity.PhonePrefix" class="form-control"
                          name="PhonePrefix" [ngClass]="{red_border: (PhonePrefix.dirty && PhonePrefix.invalid) || (PhonePrefix.pristine && submitted)}"
                          required/>
                        <span class="error_span" *ngIf="(PhonePrefix.dirty && PhonePrefix.invalid) || (PhonePrefix.pristine && submitted)">
                          <span *ngIf="PhonePrefix.errors && PhonePrefix.errors.required">Please enter phone prefix</span>
                          <span *ngIf="PhonePrefix.errors && PhonePrefix.errors.pattern">Please enter valid phone prefix</span>
                        </span>
                      </div>
                    </div>
                    <!-- <div class="col-md-6 col-sm-6">
                      <div class="form-group-active">
                        <label>
                          <span>*</span>Active?</label>

                        <div class="activeyes_box">
                          <input type="checkbox" name="IsActive" id="IsActive" value="yes" #IsActive="ngModel" [(ngModel)]="CountryEntity.IsActive">
                          <label for="IsActive"></label>
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12  text-center">
                      <button type="submit" class="next_btn m_5">
                        <span>{{buttonName}}</span>
                      </button>
                      <button *ngIf="CountryEntity.CountryId==0" class="back_btn m_5" type="button" (click)="clearForm(CountryForm)">
                        <span>Clear</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>