<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-user-plus" aria-hidden="true"></i>Instructor Invitation
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
      <!-- <div class="welcome_message alert" role="alert">
          Welcome back,
          <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
      </div> -->
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Instructor Invitation</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block">

    <div class="col-md-12 col-sm-12">
      <form class="form-validate" #InstructorForm="ngForm" (ngSubmit)="addInstructor(InstructorForm)">
        <div class="row">
          <div class="col-md-6 col-sm-12">
           
            <div class="form-group">
              <label><span class="required">*</span>Course Name</label>
  
              <select #CourseId="ngModel" class="form-control" [(ngModel)]="InstructorEntity.CourseId" name="CourseId"
                [ngClass]="{red_border: (CourseId.dirty && CourseId.invalid) || (CourseId.pristine && submitted)}"
                required >
                <option value="" ngSelected='InstructorEntity.CourseId==""' >Select</option>
                <ng-container *ngFor="let Course of CourseList">
                  <option value="{{Course.CourseId}}" ngSelected="InstructorEntity.CourseId==Course.CourseId" >{{Course.CourseFullName}}</option>
                
                </ng-container>
              </select>
   
             <!-- //   -->
              <span class="error_span" *ngIf="(CourseId.dirty && CourseId.invalid) || (CourseId.pristine && submitted)">
                <span *ngIf="CourseId.errors || (CourseId.pristine && required)">Please select Course</span>
              </span>
       
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <!-- <label><span class="required">*</span>Course Name</label> -->
  
             
              <ng-select
              placeholder="Choose your feedback user"
              [options]="InstructorList"
              name="Instructor"
              [multiple]="true"
              [(ngModel)]="selectedCharacters"  
             >
          </ng-select>
          
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 col-sm-6">
            <div class="form-group">
              <label><span>*</span>skills</label>
              <input type="text" class="form-control" value="Amsterdam,Washington" id="tagsinput" data-role="tagsinput" />
              

                
            </div>
          </div>
        <div class="text-center">
        
          <button class="next_btn" type="submit"><span>Save Changes</span></button>
        
          <button *ngIf="InstructorEntity.CourseId==0" class="back_btn" type="submit" (click)="clearForm(CourseForm1)"><span>Clear</span></button>
        </div>
        </div>
      </form>
    </div>


</div>
<div class="clearfix"></div>