<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-user-circle" aria-hidden="true"></i>Instructor Detail
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<!-- <div class="welcome_message alert" role="alert">
					Welcome back,
					<strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
			</div> -->
		<div class="breadcrumb_block pull-right">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Instructor Detail</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

</div>
<div class="content_block">
	<div class="col-md-12">
		<div class="course_list_block instructor_block">
			<h1 class="pull-left">{{FirstName}} {{LastName}}</h1>
			<div class="follow_block pull-right">
				<a href="">{{totalFollowers}} Followers</a>
				<span *ngIf="InstructorId!=globals.authData.UserId">|</span>
				<button *ngIf="flag==0 && InstructorId!=globals.authData.UserId" id="follow" data-toggle="tooltip" data-placement="top" title="Follow"
				 (click)="followInstructor()">
					<i class="fa fa-user-plus"></i>
				</button>
				<button *ngIf="flag!=0 && InstructorId!=globals.authData.UserId" id="unfollow" data-toggle="tooltip" data-placement="top"
				 title="Unfollow" (click)="unfollowInstructor()">
					<i class="fa fa-user-times"></i>
				</button>
			</div>
			<div class="clearfix"></div>
			<p class="padding_15">
				<span class="instructor_img_letter">
					<i *ngIf="ProfileImage=='' || ProfileImage==NULL" class="instructor_letter" aria-hidden="true">{{FirstName | slice:0:01}}{{LastName | slice:0:01}}</i>
					<img *ngIf="ProfileImage!='' && ProfileImage!=NULL" src="assets/ProfilePhoto/{{InstructorUserId}}/{{ProfileImage}}" alt="{{ProfileImage}}"
					 class="img-responsive" />
				</span>
				<span class="education_cap">
					<i class="fa fa-graduation-cap"></i>
					<strong>{{Education}}</strong>
				</span>
				<span class="education_type">
					<i class="fa fa-briefcase" aria-hidden="true"></i>
					<strong>{{Biography}}</strong>
				</span>
			</p>
			<div class="clearfix"></div>
			<h3>Active Courses</h3>
			<div class="row">
				<ng-container *ngFor="let course of ActiveCourses | paginate: { itemsPerPage:6, currentPage: p}; let i = index">
					<div class="col-md-3 col-sm-3">
						<div class="course_box">
							<div class="course_img">
								<a routerLink="/course-detail/{{course.CourseId}}">
									<img src="assets/Instructor/{{course.InstructorId}}/image/{{course.FilePath}}" alt="" class="img-responsive" />
								</a>
							</div>
							<div class="content">
								<div class="course_title">
									<a routerLink="/course-detail/{{course.CourseId}}">{{course.CourseFullName}}</a>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==null">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>0 && course.reviewavg<1">
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>1 && course.reviewavg<2">
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>2 && course.reviewavg<3">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>3 && course.reviewavg<4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>4 && course.reviewavg<5">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==1">
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==2">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==3">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==5">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="desc_block">
									<p>{{course.Description | slice:0:280}}
										<a *ngIf="course.Description && course.Description.length > 280" routerLink="/course-detail/{{course.CourseId}}"> ... more</a>
									</p>
								</div>
								<!-- <h3 class="instructor">
							<div class="multiinstructor_detail">
								<ul>
									<li data-toggle="tooltip" data-placement="top" title="Anand"><a href=""><img src="assets/Course/user.jpg" alt="" class="img-responsive" /></a></li>
									<li data-toggle="tooltip" data-placement="top" title="Nirav"><a href=""><img src="assets/Course/user.jpg" alt="" class="img-responsive" /></a></li>
									<li data-toggle="tooltip" data-placement="top" title="Krupali"><a href=""><img src="assets/Course/user.jpg" alt="" class="img-responsive" /></a></li>
									<li data-toggle="tooltip" data-placement="top" title="Vidhi"><a href=""><img src="assets/Course/user.jpg" alt="" class="img-responsive" /></a></li>
									<li data-toggle="tooltip" data-placement="top" title="View More"><a href=""><img src="assets/Course/add-user-symbol-of-interface.png" alt="" class="img-responsive" /></a></li>
								</ul>
							</div>
							  </h3> -->


							</div>

						</div>
					</div>
				</ng-container>
				<div *ngIf="ActiveCourses==''">Courses are not available</div>
			</div>
			<!-- <div class="pagination_block">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">Previous</a>
					</li>
					<li class="page-item active"><a class="page-link" href="#">1</a></li>
					<li class="page-item disabled">
						<a class="page-link" href="#">Next</a>
					</li>
				</ul>
			</div> -->
			<div class="pagination_block" *ngIf="ActiveCourses!=''">
				<ul class="pagination">
					<pagination-controls (pageChange)="p=$event"></pagination-controls>
				</ul>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>