<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-list" aria-hidden="true"></i>Instructor List
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
          Welcome back,
          <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
      </div> -->
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Instructor List</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

</div>
<div class="content_block">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="instrucor_list">
        <div class="col-md-3 col-sm-3" *ngFor="let instructor of InstructorList;let i = index">
          <div class="list_box">
            <!-- <i *ngIf="instructor.ProfileImage=='' || instructor.ProfileImage==NULL"
              class="fa fa-camera" aria-hidden="true"></i> -->
            <span *ngIf="instructor.ProfileImage=='' || instructor.ProfileImage==NULL" class="instructor_letter">{{instructor.FirstName | slice:0:01}}{{instructor.LastName | slice:0:01}}</span>
            <img *ngIf="instructor.ProfileImage!='' && instructor.ProfileImage!=NULL" src="assets/ProfilePhoto/{{instructor.UserId}}/{{instructor.ProfileImage}}"
              alt="{{ProfileImage}}" class="img-responsive" />
            <h6 class="instrucor_name">{{instructor.FirstName}} {{instructor.LastName}}</h6>
            <a href="" class="total_folllowers">{{instructor.totalFollowers}} Folllowers</a>
            <div class="instructor_buttons_group">
              <button type="submit" data-toggle="tooltip" data-placement="top" routerLink="/instructor-detail/{{instructor.UserId}}"
                title="View Details">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button *ngIf="instructor.flag==0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip"
                data-placement="top" title="Follow" id="follow" (click)="followInstructor(instructor)">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
              <button *ngIf="instructor.flag!=0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip"
                data-placement="top" title="Unfollow" id="unfollow" (click)="unfollowInstructor(instructor)">
                <i class="fa fa-user-times" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="clearfix"></div>