<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-list" aria-hidden="true"></i>Instructor List
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <!-- <div class="welcome_message alert" role="alert">
          Welcome back,
          <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
      </div> -->
    <div class="breadcrumb_block pull-right">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">
            <i class="fa fa-home"></i>
          </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Instructor List</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>

</div>
<div class="content_block">
  <div class="row">
    <div class="col-md-12 pull-right">
      <div class="col-md-12 col-sm-12">
        <div class="instructor_search">
          <div class="instructor_search_box">
            <form action="/action_page.php" #InstructorForm="ngForm" (ngSubmit)="SearchInstructor(InstructorForm)">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search your instrucor by course name or instructor name" name="search" [(ngModel)]="InstructorEntity.Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="instrucor_list">
        <div class="col-md-3 col-sm-3"
          *ngFor="let instructor of InstructorList | paginate: { itemsPerPage:8, currentPage: p}; let i = index">
          <div class="list_box">
            <!-- <i *ngIf="instructor.ProfileImage=='' || instructor.ProfileImage==NULL"
              class="fa fa-camera" aria-hidden="true"></i> -->
            <span *ngIf="instructor.ProfileImage=='' || instructor.ProfileImage==NULL" class="instructor_letter">{{instructor.FirstName | slice:0:01}}{{instructor.LastName | slice:0:01}}</span>
            <img *ngIf="instructor.ProfileImage!='' && instructor.ProfileImage!=NULL" src="assets/ProfilePhoto/{{instructor.UserId}}/{{instructor.ProfileImage}}"
              alt="{{ProfileImage}}" class="img-responsive" />
            <h6 class="instrucor_name">{{instructor.FirstName}} {{instructor.LastName}}</h6>
            <div class="instructor_follow">
              <ul>
                <li>
                  <a href="" class="total_folllowers">{{instructor.totalFollowers}} Folllowers</a>
                </li>
                <li>
                  <a href="" class="total_folllowing">{{instructor.totalFolloings}} Folllowing</a>
                </li>
              </ul>
            </div>
            <div class="instructor_desc">
              <p>
                <!-- Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                 <a href="">Read More...</a> -->
                <!-- {{instructor.Biography}} -->
                {{instructor.Biography | slice:0:70 }}
                <!-- {{ (instructor.Biography.length>70)? (instructor.Biography | slice:0:70)+'..':(instructor.Biography) }} -->
              </p>
            </div>
            <div class="instructor_buttons_group">
              <button type="submit" data-toggle="tooltip" data-placement="top" routerLink="/instructor-detail/{{instructor.UserId}}" title="View Details">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="top" title="Share Profile">
                <i class="fa fa-share" aria-hidden="true"></i>
              </button>

              <!-- <button data-toggle="tooltip" data-placement="top" title="Follow">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button> -->
              <!-- <button data-toggle="tooltip" data-placement="top" title="Unfollow">
                <i class="fa fa-user-times" aria-hidden="true"></i>
              </button> -->

              <button *ngIf="instructor.flag==0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip" data-placement="top"
                title="Follow" id="follow" (click)="followInstructor(instructor)">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
              <button class="unfollow_icn" *ngIf="instructor.flag!=0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip" data-placement="top"
                title="Unfollow" id="unfollow" (click)="unfollowInstructor(instructor)">
                <i class="fa fa-user-times unfollow_icn" aria-hidden="true"></i>
              </button>

              <button type="submit" data-toggle="tooltip" data-placement="top" routerLink="/instructor-detail/{{instructor.UserId}}" title="Report">
                <i class="fa fa-flag" aria-hidden="true"></i>
              </button>

              <button type="submit" data-toggle="tooltip" data-placement="top" routerLink="/instructor-detail/{{instructor.UserId}}" title="Recommend">
                <i class="fa fa-commenting-o" aria-hidden="true"></i>
              </button>

              <!-- <button type="submit" data-toggle="tooltip" data-placement="top" routerLink="/instructor-detail/{{instructor.UserId}}" title="View Details">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button> -->
              <!-- <button *ngIf="instructor.flag==0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip" data-placement="top"
                title="Follow" id="follow" (click)="followInstructor(instructor)">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button> -->
              <!-- <button *ngIf="instructor.flag!=0 && instructor.UserId!=globals.authData.UserId" type="submit" data-toggle="tooltip" data-placement="top"
                title="Unfollow" id="unfollow" (click)="unfollowInstructor(instructor)">
                <i class="fa fa-user-times" aria-hidden="true"></i>
              </button> -->
            </div>
            <div class="instructor_courses_list">
              <span>My last course</span>
              <ul class="list_li">
                <li>
                  Angular Material 2 Design For Programmers and CSS Newbies
                </li>
              </ul>
              <div class="more_course_btn">
                <a href="">View all courses</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="InstructorList==''">Instructors are not available</div>
  </div>
  <div class="row">
    <div class="col-md-12 pull-right">
      <div class="pagination_block" *ngIf="InstructorList!=''">
        <ul class="pagination">
          <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>