<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-envelope-open" aria-hidden="true"></i>Email Logs
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<!-- <div class="welcome_message alert" role="alert">
			Welcome back,
			<strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>
		</div> -->
		<div class="breadcrumb_block pull-right">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
						<a routerLink="/dashboard">
							<i class="fa fa-home"></i>
						  </a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Email Logs</a>
				</li>
				<!-- <li class="breadcrumb-item active" aria-current="page">Logs</li> -->
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

</div>
<div class="content_block">
	<div class="col-md-12">
		<table id="list_tables" class="table table-hover" style="width:100%">
			<thead>
				<tr>
					<th class="sr_no_width">#</th>
					<th class="width_15">From</th>
					<th class="width_15">To</th>
					<th class="width_15">Cc</th>
					<th class="width_15">Bcc</th>
					<th class="instructor_width">Subject</th>
					<!-- <th>Message Body</th> -->
					<th class="date_time_width">Date</th>

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let logsEmail of EmaillogList;let i = index">
					<td class="text-center">{{i+1}}</td>
					<td>{{logsEmail.From}}</td>
					<td>{{logsEmail.To}}</td>
					<td>{{logsEmail.Cc}}</td>
					<td>{{logsEmail.Bcc}}</td>
					<td>{{logsEmail.Subject}}</td>
					<!-- <td>{{logsEmail.MessageBody | pipe}}</td> -->
					<td>{{logsEmail.CreatedOn | date:"MM/dd/yy - hh:mm a"}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>