<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-list" aria-hidden="true"></i>Course Catalog
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<!-- <div class="welcome_message alert" role="alert">
					Welcome back,
					<strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
		  </div> -->
		<div class="breadcrumb_block pull-right">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a routerLink="/dashboard">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<!-- <li class="breadcrumb-item active" aria-current="page">
						<a routerLink="/course">
						 Course
						</a></li> -->
				<li class="breadcrumb-item active" aria-current="page">Course Catalog</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

</div>
<div class="content_block">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="course-filter">
				<div class="col-md-3">
					<div class="form-group">
						<label>
							<span>*</span>Search by Course Name </label>
						<input type="text" class="form-control" name="CourseFullName" />
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<!-- <label>
							<span>*</span>Search by Skills</label> -->
						<div class="dropdown_checkbox">
							<select class="form-control multiselectdropdown" multiple="multiple">
								<option>Php(2)</option>
								<option>Css(21)</option>
								<option>Angular(4)</option>
								<option>Codigniter(6)</option>
								<option>JQuery(14)</option>
								<option>Sass(10)</option>
								<option>Photoshop(9)</option>
								<option>Html(1)</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<!-- <label>
							<span>*</span>Search by instructors</label> -->
						<div class="dropdown_checkbox">
							<select class="form-control multiselectdropdown" multiple="multiple">
								<option>Anand Yadav</option>
								<option>Krupali Mistry</option>
								<option>Vidhi Bathani</option>
								<option>Nirav Patel</option>
								<option>Uttam Bhut</option>
								<option>Sudhir Parmar</option>
								<option>Mayank Sharma</option>
								<option>Jaxi Chawda</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<button class="back_btn m_5" type="submit">Filter</button>
					<button class="next_btn m_5" type="submit">Clear</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-sm-9">
		<div class="course_list_block">
			<div class="list_grid">
				<!-- <button class="grid_btn active">
					<i class="fa fa-th"></i>
				</button>
				<button class="list_btn">
					<i class="fa fa-list"></i>
				</button> -->
				<!-- <button class="next_btn" type="submit" (click)="clearForm(aa)">Clear Filter</button> -->
			</div>
			<div class="row">
				<ng-container *ngFor="let course of CourseList | paginate: { itemsPerPage:6, currentPage: p}; let i = index">
					<div class="col-md-12 col-sm-12">
						<div class="course_box">
							<div class="course_img">
								<a routerLink="/course-detail/{{course.CourseId}}">

									<img src="assets/Instructor/{{course.Fid}}/image/{{course.FilePath}}" alt="" class="img-responsive" />
								</a>
							</div>
							<div class="content">
								<div class="course_title">
									<a routerLink="/course-detail/{{course.CourseId}}">{{course.CourseFullName}}</a>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==null">
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>0 && course.reviewavg<1">
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>1 && course.reviewavg<2">
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>2 && course.reviewavg<3">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>3 && course.reviewavg<4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg>4 && course.reviewavg<5">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==1">
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==2">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==3">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==4">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<div class="stars_block" *ngIf="course.reviewavg==5">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="desc_block">
									<p>{{course.Description | slice:0:150}}
										<a *ngIf="course.Description && course.Description.length > 150" routerLink="/course-detail/{{course.CourseId}}"> ... more</a>
									</p>
								</div>
								<div></div>
								<!-- <h3 class="instructor">
							<div class="multiinstructor_detail">
								<ul>
									<li   *ngFor="let instructor of course.child; let i = index" data-toggle="tooltip" data-placement="top" title="{{instructor.UserName}}"><a href=""><img src="assets/Course/{{instructor.ProfileImage}}" alt="" class="img-responsive" /></a></li>
									<li data-toggle="tooltip" data-placement="top" title="View More"><a href=""><img src="assets/Course/add-user-symbol-of-interface.png" alt="" class="img-responsive" /></a></li>
									
								</ul>
							</div>
							  </h3> -->


							</div>
						</div>
					</div>
				</ng-container>
				<div *ngIf="CourseList==''">Courses are not available</div>
			</div>
			<div class="pagination_block" *ngIf="CourseList!=''">
				<ul class="pagination">
					<pagination-controls (pageChange)="p=$event"></pagination-controls>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-3">
		<div class="course_list_right">
			<div class="filter_head">
				<h3 class="pull-left">Filters by</h3>
				<button class="pull-right" type="submit" (click)="clearForm(aa)">Clear All</button>
				<div class="clearfix"></div>
			</div>
			<div class="category_block">
				<div class="row">
					<div class="col-md-10">
						<h3 class="pull-left">Top 5 Courses per Category</h3>
					</div>
					<div class="col-md-2">
						<button class="pull-right" type="submit">Clear</button>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="category_head">
					<div class="pull-left">
						<strong>Category</strong>
					</div>
					<div class="pull-right">
						<strong>Total Courses</strong>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="category_per_courses_row">
					<div class="pull-left">
						<span>PHP</span>
					</div>
					<div class="pull-right">
						<span>3</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="category_per_courses_row">
					<div class="pull-left">
						<span>Angular</span>
					</div>
					<div class="pull-right">
						<span>13</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="category_per_courses_row">
					<div class="pull-left">
						<span>HTML</span>
					</div>
					<div class="pull-right">
						<span>24</span>
					</div>
					<div class="clearfix"></div>
				</div>


				<!-- <table class="table">
					<thead>
						<tr>
							<th scope="col">Category</th>
							<th scope="col" class="text-right">Total Courses</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">PHP</td>
							<td class="text-right">3</td>
						</tr>
					</tbody>
				</table> -->


				<!-- <ul>
					<ng-container *ngFor="let SubCategory of SubCategoryList; let i = index;">
						<li id="test{{i}}" class="test" *ngIf="SubCategory.totalcourse>0 ">
							<a (click)="CategoryWise(SubCategory.CategoryId, i)">{{SubCategory.CategoryName}}
								<span>{{SubCategory.totalcourse}}</span>
							</a>
						</li>
					</ng-container>
				</ul> -->
			</div>
			<div class="clearfix"></div>
			<div class="instrutor_course">
				<div class="row">
					<div class="col-md-10">
						<h3 class="pull-left">Top 5 Instructors</h3>
					</div>
					<div class="col-md-2">
						<button class="pull-right" type="submit">Clear</button>
					</div>
					<div class="clearfix"></div>
				</div>
				<ng-container *ngFor="let InList of InstList ; let i = index;">
					<div (click)="InstWise(InList.UserId,i)" id="users{{i}}" class="users" *ngIf="InList.totalCourse>0 ">

						<div class="img_box">
							<span *ngIf="InList.ProfileImage=='' || InList.ProfileImage==NULL" class="instructor_letter">{{InList.FirstName | slice:0:01}}{{InList.LastName | slice:0:01}}</span>
							<img src="assets/UserImages/{{InList.ProfileImage}}" alt="" class="img-responsive" />
						</div>
						<div class="name_box">
							<span>{{InList.FirstName}} {{InList.LastName}}</span>
							<!-- <span class="pull-right">{{InList.totalCourse}}</span> -->
						</div>
						<div class="viewall_instructor_btn">
							<a routerLink="/instructor-detail/{{InList.UserId}}">
								<i class="fa fa-eye" title="" data-original-title="View Details"></i>
							</a>
						</div>
						<div class="total_courses">
							<span class="pull-left">
								<i class="fa fa-book"></i> Total Courses</span>
							<span class="pull-right">{{InList.totalCourse}}</span>
						</div>
						<div class="clearfix"></div>

					</div>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>