<div class="title_heading">
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-certificate" aria-hidden="true"></i>Certificates and Badges
		</div>
	</div>
	<div class="col-md-8 col-sm-8">
		<!-- <div class="welcome_message alert" role="alert">
				Welcome back, <strong>12th Dec 2018 12:45</strong> 
				 
			</div> -->
		<div class="breadcrumb_block pull-right">
			<ul class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Certificates &amp; Badges</li>
			</ul>
		</div>
		<div class="clearfix"></div>

	</div>
	<div class="clearfix"></div>

</div>
<div class="content_block">
	<div class="col-md-12">
		<div class="certification_block">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="certificate_box">
						<div class="icon_img">
							<img src="assets/images/angular.png" class="img-responsive" alt="" />
						</div>
						<p class="padding_15">Angular is a TypeScript-based open-source front-end web application platform led.</p>
						<div class="badge_button">
							<p>Badge</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Badge">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Badge">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<div class="badge_button">
							<p>Certificate</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Certificate">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Certificate">
								<i class="fa fa-download"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="certificate_box">
						<div class="icon_img">
							<img src="assets/images/node.png" class="img-responsive" alt="" />
						</div>
						<p class="padding_15">Node.js is an open-source, cross-platform JavaScript run-time environment.</p>
						<div class="badge_button">
							<p>Badge</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Badge">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Badge">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<div class="badge_button">
							<p>Certificate</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Certificate">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Certificate">
								<i class="fa fa-download"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="certificate_box">
						<div class="icon_img">
							<img src="assets/images/html.png" class="img-responsive" alt="" />
						</div>
						<p class="padding_15">HTML 5 is a markup language used for structuring and presenting the web content.</p>
						<div class="badge_button">
							<p>Badge</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Badge">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Badge">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<div class="badge_button">
							<p>Certificate</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Certificate">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Certificate">
								<i class="fa fa-download"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="certificate_box">
						<div class="icon_img">
							<img src="assets/images/api.png" class="img-responsive" alt="" />
						</div>
						<p class="padding_15">API Web Services is a Java programming language API spec that provides web services.</p>
						<div class="badge_button">
							<p>Badge</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Badge">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Badge">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<div class="badge_button">
							<p>Certificate</p>
							<a href="#" class="back_btn" data-toggle="tooltip" data-placement="top" title="View Certificate">
								<i class="fa fa-eye"></i>
							</a>
							<a href="#" class="next_btn" data-toggle="tooltip" data-placement="top" title="Download Certificate">
								<i class="fa fa-download"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>