<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <!-- <i class="fa fa-cog" aria-hidden="true"></i> -->
      Course Before Reminder List
    </div>
  </div>
  <!-- <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      Welcome back,
      <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong>
    </div>
  </div> -->
  <div class="breadcrumb_block pull-right">
    <!-- <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">
              <i class="fa fa-home"></i>
            </a>
          </li> -->
    <!-- <li class="breadcrumb-item active">Settings</li> -->
    <!-- <li class="breadcrumb-item active" aria-current="page"></li> -->
    <!-- </ul> -->
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div>
          <div class="row">
            <!-- Course Before Reminder Start -->
            <div class="white_shadow_box">
              <div class="col-md-12 col-sm-12">
                <form class="form-validate" #beforereminderForm="ngForm" (ngSubmit)="InsertOrUpdateBeforeReminder(beforereminderForm)">
                  <h1 class="no_margin">Course Before Reminder List</h1>
                  <div class="course_forum_block">
                    <!-- list Table -->
                    <div class="content_block">
                      <div class="col-md-12">
                        <table id="list_tables" class="table table-hover" style="width:100%">
                          <thead>
                            <tr>
                              <th class="text-center sr_no_width">#</th>
                              <th>CourseName</th>
                              <th>RemainderDay1</th>
                              <th>RemainderDay2</th>
                              <th>RemainderDay3</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let dl of detailList;let i = index">
                              <td class="text-center">{{i+1}}</td>
                              <td>{{dl.CourseFullName}}</td>
                              <td>{{dl.RemainderDay1}}</td>
                              <td>{{dl.RemainderDay2}}</td>
                              <td>{{dl.RemainderDay3}}</td>
                              <td class="text-center">
                                <button type="button" class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/coursebeforereminder/{{dl.CourseBeforeReminderId}}">
                                  <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="delete" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deletereminder(dl)">
                                  <i class="fa fa-trash"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <!-- End list Table -->
                  </div>
                  <div class="clearfix"></div>
                </form>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>