<div class="title_heading">
  <div class="col-md-4 col-sm-4">
    <div class="title_text">
      <i class="fa fa-list" aria-hidden="true"></i>announcement-form
    </div>
  </div>
  <div class="col-md-8 col-sm-8">
    <div class="welcome_message alert" role="alert">
      <i class="fa fa-info"></i>Welcome back, <strong>12th Dec 2018 12:45</strong> 
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="breadcrumb_block">
    <div class="col-md-6 col-sm-6">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
        <li class="breadcrumb-item"><a href="#">Courses</a></li>
        <li class="breadcrumb-item active" aria-current="page">Instructor Announcement Form</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6">
      <a routerLink="/announcementlist" class="next_btn pull-right">Back</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="content_block course_detail_block">
  <div class="col-md-12 col-sm-12">
    <div class="course_details">
      <div class="mydivs">
        <div *ngIf="!secondform">
            <form #announcementForm="ngForm" (ngSubmit)="addAnnouncement(announcementForm)">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              
                <h1 class="no_margin">Announcement Detail</h1>
                
                <div class="course_forum_block">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label><span>*</span>Announcement Type</label>
                          <select #AnnouncementTypeId="ngModel" [(ngModel)]="announcementEntity.AnnouncementTypeId" name="AnnouncementTypeId" [ngClass]="{red_border: (AnnouncementTypeId.dirty && AnnouncementTypeId.invalid) || (AnnouncementTypeId.pristine && submitted)}" required>
                                          <ng-container *ngFor="let type of typelist">
                                              <option *ngIf="(type.IsActive==1)" value="{{type.AnnouncementTypeId}}">{{type.TypeName}}</option>
                                          </ng-container>  
                          </select>
                          <span class="error_span" *ngIf="(AnnouncementTypeId.dirty && AnnouncementTypeId.invalid) || (AnnouncementTypeId.pristine && submitted)"> 
                            <span *ngIf="AnnouncementTypeId.errors.required || (AnnouncementTypeId.pristine && submitted)">Please select Announcement Type</span>
                          </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label><span>*</span>Announcement Title</label>
                        <input type="text" class="form-control" #Title="ngModel" [(ngModel)]="announcementEntity.Title" name="Title" pattern="[a-zA-Z-'&\s]{2,}" maxlength="150" [ngClass]="{red_border: (Title.dirty && Title.invalid) || (Title.pristine && submitted)}" required/>  
                                  <span class="error_span" *ngIf="(Title.dirty && Title.invalid) || (Title.pristine && submitted)"> 
                                    <span *ngIf="Title.errors.required || (Title.pristine && submitted)">Please enter Announcement Title</span>
                                    <span *ngIf="Title.errors && Title.errors.pattern">Please enter valid Announcement Title</span>
                                </span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group file_upload">
                        <label><span>*</span>Start Date </label>
                        <input type="datetime-local"  maxlength="100" #StartDate="ngModel"
                        [(ngModel)]="announcementEntity.StartDate" class="form-control" name="StartDate" [ngClass]="{red_border: (StartDate.dirty && StartDate.invalid) || (StartDate.pristine && submitted)}"
                        required />
                      <span class="error_span" *ngIf="(StartDate.dirty && StartDate.invalid) || (StartDate.pristine && submitted)">
                        <span *ngIf="StartDate.errors && StartDate.errors.required">
                          Please enter Start Date
                        </span>
        
                        <span *ngIf="StartDate.errors && StartDate.errors.pattern">
                          Please enter valid Start Date
                        </span>
                      </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group file_upload">
                        <label><span>*</span>End Date </label>
                        <input type="datetime-local"  maxlength="100" #EndDate="ngModel"
                        [(ngModel)]="announcementEntity.EndDate" class="form-control" name="EndDate" [ngClass]="{red_border: (EndDate.dirty && EndDate.invalid) || (EndDate.pristine && submitted)}"
                        required />
                      <span class="error_span" *ngIf="(EndDate.dirty && EndDate.invalid) || (EndDate.pristine && submitted)">
                        <span *ngIf="EndDate.errors && EndDate.errors.required">
                          Please enter EndDate
                        </span>
        
                        <span *ngIf="EndDate.errors && EndDate.errors.pattern">
                          Please enter valid EndDate
                        </span>
                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                  <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label><span>*</span>Description</label>
                        <textarea type="text" class="form-control" #Description="ngModel" [(ngModel)]="announcementEntity.Description" name="Description" pattern="[a-zA-Z-'&\s]{2,}" maxlength="250" [ngClass]="{red_border: (Description.dirty && Description.invalid) || (Description.pristine && submitted)}" required></textarea>
                                  <span class="error_span" *ngIf="(Description.dirty && Description.invalid) || (Description.pristine && submitted)"> 
                                    <span *ngIf="Description.errors.required || (Description.pristine && submitted)">Please enter Description</span>
                                    <span *ngIf="Description.errors && Description.errors.pattern">Please enter valid Description</span>
                                </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label><span>*</span>Location</label>
                        <textarea type="text" class="form-control" #Location="ngModel" [(ngModel)]="announcementEntity.Location" name="Location" pattern="[a-zA-Z-'&\s]{2,}" maxlength="250" [ngClass]="{red_border: (Location.dirty && Location.invalid) || (Location.pristine && submitted)}" required></textarea>
                                  <span class="error_span" *ngIf="(Location.dirty && Location.invalid) || (Location.pristine && submitted)"> 
                                    <span *ngIf="Location.errors.required || (Location.pristine && submitted)">Please enter Location</span>
                                    <span *ngIf="Location.errors && Location.errors.pattern">Please enter valid Location</span>
                                </span>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label><span>*</span>Organizer</label>
                          <input type="text" class="form-control" #Organizer="ngModel" [(ngModel)]="announcementEntity.Organizer" name="Organizer" pattern="[a-zA-Z-'&\s]{2,}" maxlength="150" [ngClass]="{red_border: (Organizer.dirty && Organizer.invalid) || (Organizer.pristine && submitted)}" required/>  
                                    <span class="error_span" *ngIf="(Organizer.dirty && Location.invalid) || (Organizer.pristine && submitted)"> 
                                      <span *ngIf="Organizer.errors.required || (Organizer.pristine && submitted)">Please enter Organizer Name</span>
                                      <span *ngIf="Organizer.errors && Organizer.errors.pattern">Please enter valid Organizer Name</span>
                                  </span>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6">
                          <div class="form-group">
                            <label><span>*</span>Announcement Audience{{announcementEntity.AudienceId}}</label>
                  
                            <select #AudienceId="ngModel" [(ngModel)]="announcementEntity.AudienceId" name="AudienceId[]" [ngClass]="{red_border: (AudienceId.dirty && AudienceId.invalid) || (AudienceId.pristine && submitted)}" multiple required>
                                            <ng-container *ngFor="let audience of audiencelist">
                                                <option *ngIf="(audience.IsActive==1)" value="{{audience.AudienceId}}">{{audience.Name}}</option>
                                            </ng-container>  
                            </select>
                            <span class="error_span" *ngIf="(AudienceId.dirty && AudienceId.invalid) || (AudienceId.pristine && submitted)"> 
                              <span *ngIf="AudienceId.errors.required || (AudienceId.pristine && submitted)">Please select Announcement Audience</span>
                            </span>
                          </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group-active">
                                <label><span>*</span>Active?</label>
                                <div class="activeyes_box">
                                    <input type="checkbox" name="IsActive" id="IsActive" value="yes" #IsActive="ngModel" [(ngModel)]="announcementEntity.IsActive">
                                    <label for="IsActive"></label>
                                  </div>
                          </div>
                          </div>
                      </div>
                </div>
                <div class="clearfix"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12  text-center">
              <button type="submit" [disabled]="btn_disable" class="next_btn">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>