<div class="title_heading">				
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-building" aria-hidden="true"></i>Companies
		</div>
		</div>
		<div class="col-md-8 col-sm-8">
			<div class="welcome_message alert" role="alert">
				<i class="fa fa-info"></i>Welcome back, <strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}!</strong> 
				 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="breadcrumb_block">
			<div class="col-md-6 col-sm-6">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a><i class="fa fa-home"></i></a></li>
					<li class="breadcrumb-item"><a>Company</a></li>
					<li class="breadcrumb-item active" aria-current="page">List</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6">
				<a routerLink="/company" class="next_btn pull-right">Add a Company</a>	
			</div>
			<div class="clearfix"></div>
		</div>
	<div class="clearfix"></div>
</div>
<div class="content_block">
   <div class="col-md-12">
	   <table id="list_tables" class="table table-hover" style="width:100%">
           <thead>
            <tr>
				<th class="text-center sr_no_width">#</th>
                <th>Name</th>
                <th class="email_width">EmailAddress</th>
                <th>Website</th>
                <th class="phone_width text-center">Phone Number</th>
                <th class="text-center active_width">Active?</th>
                <th class="text-center action_width">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Company of CompanyList;let i = index">
                <td class="text-center">{{i+1}}</td>
                        <td>{{Company.Name}}</td>
                        <td>{{Company.EmailAddress}}</td>
                        <td>{{Company.Website}}</td>
                        <td class="text-center">{{Company.PhoneNumber}}</td>
                        <td class="text-center">
                            <div class="activeyes_box"  data-toggle="tooltip" data-placement="top" [attr.title]="Company.IsActive==1 ? 'Active' : 'Deactive'">
                                    <input type="checkbox" name="active1" id="active{{i}}" (change)="isActiveChange(Company,i)" [checked]="Company.IsActive==1" value="Yes" >
                                    <label for="active{{i}}"></label>
                            </div>
                        </td>
                        <td class="text-center">

                            <button class="edit" data-toggle="tooltip" data-placement="top" title="Edit" routerLink="/company/edit/{{Company.CompanyId}}"><i class="fa fa-edit"></i></button>
                            <button *ngIf="Company.isdisabled>0" data-toggle="tooltip" [disabled]="Company.isdisabled>0" data-type="Record" class="delete" title="Company can't be deleted as it is already assigned to an active User's profile"><i class="fa fa-trash"></i></button>
                            <button class="delete"  *ngIf="Company.isdisabled==0" data-toggle="tooltip" data-placement="top"   title="Delete"  (click)="deleteCompany(Company)"> <i class="fa fa-trash"></i> </button>
                        </td>
            </tr>
              </tbody>
            </table>
          
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>