<div class="title_heading">				
	<div class="col-md-4 col-sm-4">
		<div class="title_text">
			<i class="fa fa-user-plus" aria-hidden="true"></i>Instructor Invitations
		</div>
		</div>
		<div class="col-md-8 col-sm-8">
				<!-- <div class="welcome_message alert" role="alert">
						Welcome,
						<strong>{{globals.authData.FirstName}} {{globals.authData.LastName}}! </strong>
				</div> -->
		</div>
		<div class="clearfix"></div>
		<div class="breadcrumb_block">
			<div class="col-md-6 col-sm-6">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="breadcrumb-item"><a href="#">Instructor Invitation</a></li>
					<li class="breadcrumb-item active" aria-current="page">List</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-6 col-sm-6">
				<a routerLink="/Instructorinvitation" class="next_btn pull-right">Send Instructor Invitation</a>	
			</div>
			<div class="clearfix"></div>
		</div>
	<div class="clearfix"></div>
</div>
<div class="content_block">
   <div class="col-md-12">
	   <table id="list_tables" class="table table-hover" style="width:100%">
           <thead>
            <tr>
				<th class="text-center sr_no_width">#</th>
                <th>Instructor Name</th>
                <th>Course Name</th>
                <th class="text-center active_width">Active?</th>
                <th class="text-center action_width">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Instructor of InstructorList; let i = index">
				<td class="text-center">{{Instructor.InvitationId}}</td>
								<td>{{Instructor.FirstName}}</td>
								<td>{{Instructor.CourseFullName}}</td>
								<td *ngIf="Instructor.Approval=='1'">success</td>
                  <td *ngIf="Instructor.Approval=='0'">Pending</td>
									<td >
                    <!-- <button type="button" class="btn btn-default btn-rounded btn-sm" data-tooltip="Revoke" [disabled]="Instructor.Approval>0 ||Disinv.Value==0" 
					(click)="deleteInvitation(Invitation)" >
                    Revoke</button> -->
					  <button  type="button" class="btn btn-default btn-rounded btn-sm" data-tooltip="Re-Invite" [disabled]="Instructor.Approval==1" 
					(click)="ReInviteInstructor(Instructor)" >
                    Re-Invite</button></td>
                
            </tr>
           
           
              </tbody>
            </table>

	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>